.desktop-i18n
.dirstamp
ABOUT-NLS
Makefile
Makefile.in
TAGS
tags
aclocal.m4
autom4te.cache
config.h
config.h.in
config.status
config.log
configure
intl
libtool
stamp-git
stamp-h1
version.h
INSTALL
autoscan.log
configure.scan
*.bak
*.exe
*.log
*.swp
*-swp
*~
*#
.deps/
.libs/
