.deps
.libs
Makefile
Makefile.in
*.o
*~
*.log
test_arc
test_arc_object
test_attrib_object
test_box
test_box_object
test_bus
test_bus_object
test_circle
test_circle_object
test_complex
test_file
test_line
test_list
test_net
test_path
test_picture
test_pin
test_text
test_utility
