.deps
.libs
Makefile
Makefile.in
*.o
*~
*.trs
test_arc
test_arc_math
test_arc_object
test_attrib_object
test_box
test_box_object
test_bus
test_bus_object
test_circle
test_circle_object
test_complex
test_complex_object
test_color_object
test_file
test_keyfile
test_line
test_line_object
test_list
test_math
test_net
test_net_object
test_object
test_object_list
test_path
test_picture
test_picture_object
test_pin
test_text
test_toplevel
test_utility

