*.lo
.deps
.libs
Makefile
Makefile.in
libgeda.la
*.o
*.x
*~
*.log
*.trs
test_arc
test_box
test_bus
test_circle
test_complex
test_file
test_line
test_list
test_net
test_path
test_picture
test_pin
test_text
