# The following file intentional have crlf line endings:

eagle/JD-output.net eol=crlf
eagle/JD_Include-output.net eol=crlf
eagle/JD_Include_nomunge-output.net eol=crlf
eagle/JD_Sort-output.net eol=crlf
eagle/JD_Sort_nomunge-output.net eol=crlf
eagle/JD_nomunge-output.net eol=crlf
eagle/SlottedOpamps-output.net eol=crlf
eagle/TwoStageAmp-output.net eol=crlf
eagle/TwoStageAmp_Include-output.net eol=crlf
eagle/TwoStageAmp_Sort-output.net eol=crlf
eagle/cascade-output.net eol=crlf
eagle/multiequal-output.net eol=crlf
eagle/netattrib-output.net eol=crlf
eagle/powersupply-output.net eol=crlf
eagle/singlenet-output.net eol=crlf
eagle/stack-torture-output.net eol=crlf
pads/JD-output.net eol=crlf
pads/JD_Include-output.net eol=crlf
pads/JD_Include_nomunge-output.net eol=crlf
pads/JD_Sort-output.net eol=crlf
pads/JD_Sort_nomunge-output.net eol=crlf
pads/JD_nomunge-output.net eol=crlf
pads/SlottedOpamps-output.net eol=crlf
pads/TwoStageAmp-output.net eol=crlf
pads/TwoStageAmp_Include-output.net eol=crlf
pads/TwoStageAmp_Sort-output.net eol=crlf
pads/cascade-output.net eol=crlf
pads/multiequal-output.net eol=crlf
pads/netattrib-output.net eol=crlf
pads/powersupply-output.net eol=crlf
pads/singlenet-output.net eol=crlf
pads/stack-torture-output.net eol=crlf
protelII/JD-output.net eol=crlf
protelII/JD_Include-output.net eol=crlf
protelII/JD_Include_nomunge-output.net eol=crlf
protelII/JD_Sort-output.net eol=crlf
protelII/JD_Sort_nomunge-output.net eol=crlf
protelII/JD_nomunge-output.net eol=crlf
protelII/SlottedOpamps-output.net eol=crlf
protelII/TwoStageAmp-output.net eol=crlf
protelII/TwoStageAmp_Include-output.net eol=crlf
protelII/TwoStageAmp_Sort-output.net eol=crlf
protelII/cascade-output.net eol=crlf
protelII/multiequal-output.net eol=crlf
protelII/netattrib-output.net eol=crlf
protelII/powersupply-output.net eol=crlf
protelII/singlenet-output.net eol=crlf
protelII/stack-torture-output.net eol=crlf
redac/JD-output.net eol=crlf
redac/JD_Include-output.net eol=crlf
redac/JD_Include_nomunge-output.net eol=crlf
redac/JD_Sort-output.net eol=crlf
redac/JD_Sort_nomunge-output.net eol=crlf
redac/JD_nomunge-output.net eol=crlf
redac/SlottedOpamps-output.net eol=crlf
redac/TwoStageAmp-output.net eol=crlf
redac/TwoStageAmp_Include-output.net eol=crlf
redac/TwoStageAmp_Sort-output.net eol=crlf
redac/cascade-output.net eol=crlf
redac/multiequal-output.net eol=crlf
redac/netattrib-output.net eol=crlf
redac/powersupply-output.net eol=crlf
redac/singlenet-output.net eol=crlf
redac/stack-torture-output.net eol=crlf


